$color1: #0c0b0b;
$color2: #ffffff;
$color3: #fafafa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$font-body: 'Poppins',
sans-serif;
$font-title: 'Montserrat',
sans-serif;